@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

#scrolTopButton {
  z-index: 50;
}

#profileContainer{
  background-image: url("/images/newBg.png");
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}

* {
  transition: all 0.3s ease;
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


