@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');


* {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}
.highlight {
    color: #87CEEB;
    font-weight: bold;
    padding: 0 2px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-rotate {
    animation: rotate 20s linear infinite;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.rounded-full {
    border-radius: 50%;
}


.toast-style {
    animation: shake 0.5s linear;
}



.no-select {
    user-select: none; /* Chrome, Opera, Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
